OPENAI_API_KEY = sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CO_API_KEY = FIXME
SERP_API_KEY = FIXME
# Azure OpenAI
AZURE_OPENAI_API_KEY = FIXME
AZURE_OPENAI_ENDPOINT = https://<AZURE_RESOURCE_NAME>.openai.azure.com/
